<p id="notice"><%= notice %></p>

<section id="question">
<h1>
  <%= @question.title %>
</h1>
<p>
  <%= @question.description %>
</p>
</section>

<section id="answer">
<% @question.answers.each do |answer|%>
  <hr/>
  <p><%=answer.description%></p>
  <em>by: <%=answer.owner.name%></em>
<% end %>
</section>
<hr/>

<%= render 'answers/form', answer: @answer %>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
