<p id="notice"><%= notice %></p>
<h1 style="text-align:center; width:100%; margin: 2em 0;">
  <%= @vehicle.brand %>
  <%= @vehicle.model %>
  (<%= @vehicle.year %>) - <%= @vehicle.vehicle_type %>
</h1>
<div style="width:100%; text-align:center">
  <% splitted_license_number = @vehicle.license_number.split(' ') %>
  <p style="width:8em; padding:1em; border: 1px solid black; margin:auto">
    <span style="font-weight:bold; font-size:xx-large"><%=splitted_license_number[0]%></span><br/><br/>
    <span style="font-size:normal"><%=@vehicle.province%></span><br/><br/>
    <span style="font-weight:bold; font-size:xx-large"><%=splitted_license_number[1]%></span>
  </p>
  <p style="margin-top:1em; width:100%;">
    <p>My Rating</p>
    <input style="width:50%" type="range" min="-5" max="5" value="<%=@vehicle.average_score%>" class="slider" id="myRange">
    <%=@vehicle.average_score%>
  </p>
</div>

<div style="display:flex; margin:2em 0;column-gap: 1rem; row-gap: 1rem;">
  <div style="flex:1;text-align:center; background-color: #f6f6f6; margin: 1em; padding-bottom: 1em;">
    <h3 style="color:navy">+ Positive</h3>
    <% @templates.each do |template| %>
      <% if template.score > 0 %>
        <%=button_to "#{template.comment} #{template.score}", vehicle_new_comment_path(@vehicle, ref: template), { style: "padding:0.5em; margin:0.5em 0; width: 20vw;" } %>
      <% end %>
    <% end %>
  </div>
  <div style="flex:1;text-align:center; background-color: #f6f6f6; margin: 1em; padding-bottom: 1em;">
    <h3 style="color:green">Neutral</h3>
    <% @templates.each do |template| %>
      <% if template.score == 0 %>
        <%=button_to "#{template.comment}", vehicle_new_comment_path(@vehicle, ref: template), { style: "padding:0.5em; margin:0.5em 0; width: 20vw;" } %>
      <% end %>
    <% end %>
  </div>
  <div style="flex:1;text-align:center; background-color: #f6f6f6; margin: 1em; padding-bottom: 1em;">
    <h3 style="color:red">- Negative</h3>
    <% @templates.each do |template| %>
      <% if template.score < 0 %>
        <%=button_to "#{template.comment} #{template.score}", vehicle_new_comment_path(@vehicle, ref: template), { style: "padding:0.5em; margin:0.5em 0; width: 20vw;" } %>
      <% end %>
    <% end %>
  </div>
</div>

<div>
  <% @vehicle.comments.each do |comment| %>
    <p>
      <%= comment.template.comment %>
      <%= comment.template.score %> 
      - <em><%= comment.owner.name %></em>
    </p>
  <% end %>
</div>

<hr style="margin-top:1em"/>
<div >
<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
</div>
