<!DOCTYPE html>
<html>
  <head>
    <title>Graph on Rails Playground</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="position:absolute; right:1.5em; top:1em;">
      <%= link_to 'Home', '/' %> - <%= session[:current_user] %>
    </div>
    <%= yield %>
  </body>
</html>
